html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}
body{
    min-height: 100vh;
}
header{
    background-color: orange;
}

footer{
    background-color: orange;
    width: 100%;
    height: 100%;
}

h5{
    text-align: center;
}

h1{
    text-align: center;
}

.imageEmotion{
    height: 100px;
}

.tableJournal{
    align-items: center;
}